<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servimaq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="Android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
        <activity
            android:name=".op_catalogo.detalle_producto"
            android:exported="true"
            android:parentActivityName=".op_catalogo.Catalogo" />
        <activity
            android:name=".op_pedidos.detalle_pedido"
            android:exported="true"
            android:parentActivityName=".op_pedidos.Listar_pedidos" />
        <activity
            android:name=".op_pedidos.Listar_pedidos"
            android:exported="true"
            android:parentActivityName=".op_pedidos.registro_cliente" />
        <activity
            android:name=".op_pedidos.registro_cliente"
            android:exported="true"
            android:parentActivityName=".menu_opciones" />
        <activity
            android:parentActivityName=".menu_opciones"
            android:name=".fragments_registros.Salida_Prod"
            android:exported="true" />
        <activity
            android:name=".op_catalogo.Catalogo"
            android:parentActivityName=".menu_opciones"
            android:exported="true" />
        <activity
            android:name=".contenedores.ingreso_productos"
            android:exported="true"
            android:parentActivityName=".menu_opciones" />
        <activity
            android:name=".menu_opciones"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>